@import "color/color";
@import "defult/defult";
@import "mixin/mixin";
// @import "snippet/snippet";
@import "media/media";
@import "navbar/navbar";


.nav {
    .logo_search {
        .auth {
            a {
                @include media('>=desktop') {
                    padding: 1rem;
                }
               
            }
           
        }
    }
   
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr  1fr;
    
    
    @include media('>=desktop') {
        padding: 2rem 0 3rem 0;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 35rem;
        grid-template-areas: "h h h h h h c c c c c c";
     }

    .svg {

        @include media('>=desktop') {
            border: 2px solid gray;
            border-right-color:  #eaeaea;
            border-top-color: #fff;
            border-bottom-color: #fff;
            border-left-color: #fff;
            grid-area: h;       
        }
    
      
         .img-text {
             display: flex;
             width: 10rem;
             height: 100%;
             margin: auto;
             position: relative;
            @include media('>=desktop') {
                width: 20rem; 
            }
        }
      
        .up {
            width: 65%;
            @include media('>=tablet','<=1000px') {
                width: 50%;
             }
             
                @include media('>=desktop') {
                    display: none;
                    width: 0;
                   
                 }
           
        }
        .down {
            width: 5rem;
            height: 5rem;
            position: absolute;
            top: 0;
            bottom: 5rem;
            right: 2.5rem; 
            margin-bottom: 5rem;
            @include media('>=desktop') {
               width: 18rem;
               height: 18rem;
               top: 4rem;
    
             }
                            
        }
        .down_2 {
            visibility: hidden;
            @include media('>=desktop') {
                visibility: visible;
                position: relative;
                top: 7rem;
                margin: auto;
                text-align: center;
            }
           
           
        }
         
    }

    .lower {
        @include media('>=desktop') {
            grid-area: c;
        }
   
        

        .user {
            text-align: center;
            font-size: 1.3em;
             margin-bottom: 4rem; 
            
             
            @include media('<=SMphone') {
                top: 12rem;
                right: 6rem; 
               } 
               @include media('<320px') {
               
                right: 3.5rem; 
               }   
            }
        
       
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: static;
        @include media('>=desktop') {
            grid-area: c;
            justify-content: center;
        }
        .nin {
           
            .nin-paragraph {
                @include font;
                margin: 0;
               
              
            }

            .nin-input {
                width: 20rem;
                height: 3rem;
                padding: 1.2rem 1rem;
                border: 1px solid $gray;
                border-radius: .2rem;
                color: #000;
                font-size: 1.1em;
                margin-bottom: 3rem;
                @include media('>=desktop') {
                    margin-bottom: 3rem;
                    width: 23rem;
                    height: 3rem;
                }
                   
                    
                @include media('<=phone') {
                    width: 17rem;
                    height: 2.7rem;
                }
                @include media('<320px') {
                    width: 15rem;
                    height: 2.5rem;
                     
                   }  
   
            }
        }
        .bottons_control {
            .sign {
                @include buttons;
            @include font;
            background: $dark;
            color: $light;
            margin-bottom: 5rem;
            @include media('<=SMphone') {
                padding: 0.7rem 1.3rem;
               }
            }
        }
    }

}

